/*Set body to only take up 80% of the screen*/
body {
    width: 80%;
    margin: auto;
    background-color: #e6eaf2;
}

/*Remove standard link style*/
a {
    font-family: sans-serif;
    color: #000000;
    font-size: 1.5em;
    text-decoration: none;
}

/*Set the styles for the section text, heading, navigation and images*/
.section-heading {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    background-color: #535a66;
    margin: 0px;
    padding: 50px 100px;
    font-family: sans-serif;
    color: #000000;
    font-size: 2em;
    letter-spacing: 10px;
    box-sizing: border-box;
    border-bottom: solid #ffa826 10px;
}
.section-nav{
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    background-color: #9099a8;
    font-style: italic;
    font-family: "Verdana", sans-serif;
    color: #000000;
    font-size: 1.4em;
    letter-spacing: 5px;
    box-sizing: border-box;
    display: block;
    padding: 30px 100px;
}
.section-nav:hover{
    font-weight: bold;
}
.section-text {
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    color: #000000;
    font-size: 1.2em;
    box-sizing: border-box;
    float:right;
    padding:30px;
}
.section-image {
    width: 50%;
    display:block;
    position:relative;
    box-sizing: border-box;
}
/*Image container for colour changing image, this contains the background colour the image shows when mousing over*/
#image-container {
    width: 50%;
    background-color: #d2462d;
    position: relative;
    box-sizing: border-box;
}
/*Actual image takes up 100% of the image container*/
#change-colour-example {
    width: 100%;
}
/*Style for the text that gets displayed when mousing over the image*/
#image-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #7b2a1b;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    font-family: sans-serif;
}

/*Moving, animated image starts off invisible until button is clicked*/
#animate-image{
    opacity: 0;
}
/*Style for both buttons to show image and hide image*/
.animate-button{
    text-transform: uppercase;
    width: 50%;
    float: right;
    color: #ffffff;
    background-color: #d2462d;
    border: none;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    vertical-align: middle;
    letter-spacing: 3px;
}
.animate-button:hover{
    font-weight: bold;
}
/*Dont display the "hide image" button to start with*/
#hide-image-button{
    display: none;
}

/*Style for footer containing website reference.*/
footer {
    background-color: #c0c8d6;
    color: white;
    padding: 20px;
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
    /*Large footer height so the next section button scrolls far enough*/
    height: 400px;
}
