body {
    width: 80%;
    margin: auto;
}

.section-text{
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    color:black;
    font-size: 1.2em;
    box-sizing: border-box;
    float:right;
    padding:30px;
}

#change-colour-example {
    width: 100%;
    opacity: 1;
}

.section-image {
    width: 50%;
    display:block;
    position:relative;
    box-sizing: border-box;
}

#image-container {
    width: 50%;
    background-color: #d2462d;
    position: relative;
    box-sizing: border-box;
}

#image-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #7b2a1b;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
}

#animate-image{
    opacity: 0;
}

#image-text{
    font-family: sans-serif;
}

#animate-image-button{
    text-transform: uppercase;
    width: 50%;
    float: right;
    color: black;
    border: none;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    vertical-align: middle;
}

a {
    font-family: sans-serif;
    color:black;
    font-size: 1.5em;
    text-decoration: none;
}

.section-heading {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    background-color: grey;
    margin: 0px;
    padding: 50px 100px;
    font-family: sans-serif;
    color:black;
    font-size: 2em;
    letter-spacing: 10px;
    box-sizing: border-box;
    border-bottom: solid orange 10px;
}

.section-nav{
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    background-color: lightgrey;
    font-style: italic;
    font-family: "Verdana", sans-serif;
    color:black;
    font-size: 1.4em;
    letter-spacing: 5px;
    box-sizing: border-box;
    display:block;
    padding: 30px 100px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 0.8em;
    font-family: sans-serif;
    text-align: center
}
